/* @override 
	http://ucsc.site/templates/css/ucsc.css
	http://local.ucsc.edu/ucsc_templates/css/ucsc.css
	http://local.ucsc.site/ucsc_templates/css/ucsc.css
	http://templates.local/css/ucsc.css
*/

/* @group RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }

/* remember to define focus styles! */
:focus { outline: 0; }
/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }

/* @end RESET */


/* @group DEFAULT STYLES */

body {
	font-size:13px;
	background: #f2f0e4;
	line-height: 1;
	color:#71706e;
	font-family:"Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

a, a:visited {
	color:#5585a2;
	text-decoration:none;
}

a:focus,
a:hover {
	text-decoration:underline;
}

blockquote {
	color:#4D4D4B;
	font-weight:bold;
	margin:30px 30px 30px 20px;
	padding:2px 0px 2px 20px;
	font-size:14px;
	line-height:1.5em;
	border-left:10px solid #ffffff;
}

li {
	list-style:none;
	background:url(../images/bullet.gif) no-repeat left 5px;
	padding:0px 0px 0px 15px;
}

p { margin:0.8em 0; line-height:1.4em; }

abbr { cursor:help; }
strong { font-weight:bold; }
em { font-style:italic; }

h1 { font-size:24px; }
h2 { font-size:18px; }
h3 { font-size:16px; }
h4 { font-size:13px; }
h5 { font-size:12px; }
h6 { font-size:12px; }

h1, h2, h3, h4, h5, h6 { margin:0.4em 0; font-weight:normal; line-height:1.4em; }

.alignright { float:right; margin:0 0 10px 10px; }
.alignleft { float:left; margin:0 10px 10px 0; }

/* @end DEFAULT STYLES */


/* @group BOXES */

#wrap {
	width:960px;
	margin:0 auto;
	height:100%;
}

#container {
	width:960px;
	position:relative;
	overflow:hidden;
}

#content {
	width:860px;
	background:#f2f0e4;
	margin-left:1px;
}

#sprflt {
	float:left;
	width:800px;
	clear:both;
}

	#mainContent {
		width:580px;
		float:left;
	}
	
	#rtSdebr {
		float:left;
		width:200px;
		margin-top:44px;
	}


/* @end BOXES */


/* @group ENJOY THE VIEW CONTROLS */

.sleed {
	width:960px;
	height:3000px;
	background:#f2f0e4 url(../images/background_home.jpg) fixed center top no-repeat;
}

.no-js .sleed {
	display:none;
}
	
.handle {
	margin:140px 0 0 16px;
	background:url(../images/tab.png) no-repeat;
}

.open .handle {
	margin:140px 0 0 16px;
}

/* @end */


/* @group TOP REGION */

/**
*	Utility Navigation
*/

#topNav li {
	background-image:none;
	border-left:1px solid #c2cdc9;
	float:left;
	font-size:12px;
	line-height:1.2em;
	list-style-type:none;
	padding:25px 10px 1px 10px;
}

#topNav li a {
	color:#477190;
	text-decoration:none;
}

#topNav li a:focus,
#topNav li a:hover {
	text-decoration:underline;
}


/**
*	Logo Home Link
*/
#logo {
	background:url(../images/ucsc_logo.gif) no-repeat top left;
	display:inline;
	font-size: 1px;
	float:left;
	height:76px;
	line-height:1px;
	margin: 38px 65px 24px 0;
	overflow:hidden;
	padding:0;
	text-indent:-900em;
	width:246px;
}


/**
*	 Search Box
*/
#search {
	float:left;
	margin:21px 0 0 0px;
}
#search form {
	background:transparent url(../images/search_background.gif) no-repeat;
	padding:2px 10px 10px 5px;
}
#search form input {
	background-color:transparent;
	border:none 0;
}
#search form input.srchBtn {
	padding:2px;
}
#search form input.query {
	width:165px;
	vertical-align:top;
	color:#a3a3a1;
	line-height:1;
	height:15px;
	padding:4px 0 0 0;
}

/* @end TOP REGION */


/* @group MAIN NAVIGATION */

#mainNav {
	background: url(../images/button_background.jpg) repeat-x;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
	border-bottom:solid 1px #d5d3c8;
	clear:both;
	display:block;
	height:30px;
	margin:0px 0 20px 0;
	width:800px;
}

#mainNav li {
	border-left:1px solid #ffffff;
	border-right:1px solid #e7e5de;
	float:left;
	font-size:11px;
	line-height:16px;
	margin:0;
	padding:0px 0px;
	text-align:center;
	width:103px;
}

#mainNav li a {
	text-decoration:none;
	color:#929290;
	background:url(../images/main_nav_off.gif) repeat-x;
	display:block;
	height:15px;
	width:100%;
	padding:8px 0 7px 0;
	font-weight:bold;
	-moz-text-shadow:1px 1px 0px #ffffff;
	text-shadow:1px 1px 0px #ffffff;
	text-transform:uppercase;
}

#mainNav li a:focus,
#mainNav li a:hover {
	text-decoration:none;
	background:#F9F8F2 url(../images/main_nav_on.gif) repeat left top;
	background-color:#e9e7d4;
	background-repeat:repeat-x;
	background-image: -moz-linear-gradient(top, rgba(255,255,255,.5), rgba(255,255,255,0));
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,.5)), to(rgba(255,255,255,0)));
	background-position:top left;
}

#mainNav li li {
	background:none;
	border:none;
	float:none;
	overflow:hidden;
	margin:0;
	min-width:180px;
	padding:0;
}

#mainNav li li a {
	background: #f9f8f2;
	color:#5585A2;
	height:auto;
	padding:4px 0 4px 10px;
	text-align:left;
	text-shadow:none;
	text-transform:none;
}

#mainNav li li a:focus,
#mainNav li li a:hover {
	background: #5585A2;
	background-image:none;
	color:#f9f8f2;
	height:auto;
}
#mainNav li ul {
	background: #f9f8f2;
	left: -999em;
	position:absolute;
	padding:6px 0 0 0;
	z-index:100;
}

#mainNav li:hover ul,
#mainNav li.hov ul {
	left: auto;
	-webkit-box-shadow:6px 6px 6px rgba(0,0,0,0.4);
	-moz-box-shadow:6px 6px 6px rgba(0,0,0,0.4);
	box-shadow:6px 6px 6px rgba(0,0,0,0.4);
	z-index:100;
}

#mainNav .first,
#mainNav li:first-child { border-left:none 0; }
#mainNav .last,
#mainNav li:last-child { border-right:none 0; }

#mainNav .qsg {
	width:164px;
}

#mainNav li.qsg a img { padding-left:2px; }

.college #mainNav li,
.department #mainNav li { 
	width:131px;
}


/* @end MAIN NAVIGATION */


/* @group FRONT PAGE CAROUSEL */

#carousel {
	margin: 0;
	width: 780px;
	height: 250px;
	padding: 0;
	overflow: scroll;
	border: 10px solid #e9e6d6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
}
#carousel.hide {
	visibility:hidden;
}
#carousel ul {
	list-style: none;
	/*total slides width*/
	width: 7020px;
	margin: 0;
	padding: 0;
	position: relative;
}
#carousel li {
	display: inline;
	float: left;
	background:none;
	padding:0;
}
.textholder {
	text-align: left;
	font-size: small;
	padding: 6px;
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
}
.thumb {
	width: 30px;
	height: 7px;
	float: left;
	display: inline;
	background: #ece9d8;
	margin: 5px;
	border-bottom:solid 1px #d5d2c3;
}
.thumb.hide {
	visibility:hidden;
}

.no-js #carousel {
	overflow:hidden;}

/* @end */




/*home*/
	
.thirds.light {
	width: 800px;
	background: #f9f8f2;
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-bottom:solid 1px #dfded2;
	clear:both;
	margin:30px 0 30px 0;
	display:block;
	float:left;
	box-shadow:1px 1px 4px rgba(0,0,0,0.05);
	-webkit-box-shadow:1px 1px 4px rgba(0,0,0,0.05);
	-moz-box-shadow:1px 1px 4px rgba(0,0,0,0.05);
}
.thirds.light div {
	border-left:1px solid #e8e7e2;
	border-right:#fff solid 1px;
	float:left;
	width:233px;
	padding:15px;
	font-size:13px;
	line-height:16px;
}

.thirds.light div:last-child { 
	border-right:0;
}

.thirds.light div h2 {
	color: #8E8C87;
	font-family:"Lucida Grande", "Lucida Sans Unicode", sans-serif;
	font-size:16px;
	font-weight:normal;
	letter-spacing:.5px;
	border-bottom:#e5e4de 1px solid;
	margin:0 0 15px 0;
	padding-bottom:5px;
	text-transform:uppercase;
}

.thirds.light div h2 span { color:#585755; }

.thirds.light div h2 a.sbscrb {
	float:right;
	font-size:9px;
	background:url(../images/rss_feed.gif) no-repeat right;
	text-transform:uppercase;
	padding-right:15px;
	letter-spacing:.5px;
	line-height:3;
}

.thirds.light div#fe dt {
	float:left;
	clear:left;
	width:43px;
	/*	border-right:1px solid #dedcd1;*/
	text-align:center;
	font-size:9px;
	color:929290;
	margin:0 0 10px 0;
	letter-spacing:1px;
}
.thirds.light div#fe dt strong {
	color:#6e6d68;
	font-size:22px;
	letter-spacing:-1px;
	line-height:1;
}
.thirds.light div#fe dd {
	border-left:1px solid #dedcd1;
	float:left;
	width:175px;
	padding:3px 0px 3px 10px;
	margin-bottom:10px;
	letter-spacing:-.5px;
}
img.fltlft {
	float:left;
	display:inline;
	margin:0 10px 10px 0;
	padding:5px;
	background:#fff;
	border-bottom:solid 1px #d5d2c3;
}
span.date {
	color:#929290;
	font-size:9px;
	letter-spacing:1px;
	display:block;
}

.thirds.light div#un li {
	clear:both;
	margin:0; padding:0;
	font-size:12px;
}
.department div#newsevents dd, .college div#newsevents dd {
	clear:both;
}
.thirds.light div#qsg {
	border-right:0 none;
}
div#qsg li {
	margin: 0 0 5px 15px;
}
.thirds.dark {
	width: 800px;
	margin:0 0 30px 0;
	padding:0;
	float:left;
	clear:both;
}

.thirds.dark div {
	float:left;
	width:246px;
	padding:0px;
	margin:0 25px 0px 0;
	font-size:11px;
	line-height:16px;
}

.thirds.dark div.inner {
	width:226px;
	height:226px;
	padding:10px;
	margin:0;
	background:#ece9d8;
	border-bottom:solid 1px #dad8c8;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
	-webkit-box-shadow:1px 1px 4px rgba(0,0,0,0.05);
	-moz-box-shadow:1px 1px 4px rgba(0,0,0,0.05);
}
.thirds.dark div h3 {
	font-size:14px;
	font-weight:normal;
	margin:0 0 10px 0;
	text-transform:uppercase;
	border:1px solid #e5e4de;
	padding:4px 6px;
	color:#8e8c87;
}

.thirds.dark div h3 span { font-weight:bold; color:#585755; }

#uncommon img, #alumpro img {
	padding:5px;
	background:#f6f4ec;
}
#vidspotlight img {
	padding:5px;
	background:#ece9d9;
	border-bottom:solid 1px #c7c6c2;
	margin-bottom:10px;
}
.college #uncommon img {
	padding:5px;
	background:#ece9d9;
	border-bottom:solid 1px #c7c6c2;
}
#uncommon p, #alumpro p, #vidspotlight p {
	margin:0 20px 10px 10px;
	color:#71706e;
}
a.upTitle {
	font-size:9px;
	line-height:14px;
	text-transform:uppercase;
	letter-spacing:.5px;
	margin:10px 20px 10px 10px;
	display:block;
}
a.continu {
	font-size:9px;
	line-height:14px;
	text-transform:uppercase;
	letter-spacing:.5px;
}
.thirds.dark div#theView, .thirds.dark div#forstudents {
	margin:0 0 0px 0;
}
.thirds.dark div#theView img {
	float:left;
	margin:0 5px 5px 0;
	padding:0;
}
.thirds.dark div#theView div.inner {
	width:231px;
	padding:10px 5px 10px 10px;
}
.thirds.dark div#thoughtPro div.inner {
	background:#f1b521;
}
img.tpimage {
	padding:20px;
	background:#f1b521;
}
.thirds.dark #newsevents div.inner, .thirds.dark #forstudents div.inner {
	width:206px;
	height:206px;
	padding:20px;
	margin:0;
}
.thirds.dark #newsevents img.fltlft {
	margin-bottom:20px;
	background:#ece9d9;
	border-bottom:solid 1px #c7c6c2;
}
.department .thirds.light, .college .thirds.light {
	margin:0 0 30px 0;
}
.department .thirds.light div {
	padding:15px 0;
	width:264px;
	text-align:center;
}
.college .thirds.light div {
	padding:15px 0;
	width:264px;
	text-align:left;
}
.department .thirds.light div img, .college .thirds.light div img {
	margin:0 auto;
}

/* @group Pre-footer 4-column */

.columns.clear.four { width:800px; margin:0 0 30px 0; padding:0; clear:both; float:left; }
.columns.clear.four li { padding-bottom:3px; }
.columns.clear.four div { float:left; width:20%; padding:0px 5% 0 0; margin:0 0 0px 0; font-size:11px; line-height:16px; }
.columns.clear.four div h4 { margin:0 0 10px 0; text-transform:uppercase; }
.columns.clear.four div h4 span { font-style:normal; font-weight:bold; font-size:14px; color:#585755; }
.columns.clear.four div p { color:#71706e; margin:0 0 15px 0; }




/* @end */


#footer {
	border-top:1px solid #dedcd1;
	width:800px;
	height:60px;
	clear:both;
	display:block;
	padding:10px 0 0px 0;
	margin:0;
}
p#ftr_links {
	float:right;
}
p#ftr_links a {
	float:left;
	text-transform:uppercase;
	border-right:#dedcd1 1px solid;
	font-size:9px;
	letter-spacing:.5px;
	padding:0px 7px;
}
p#ftr_links a.cntct {
	border-right:0 none;
}
p#ftr_address {
	float:left;
	text-transform:uppercase;
	border-left:#dedcd1 3px solid;
	font-size:9px;
	line-height:8px;
	letter-spacing:.5px;
	margin:0 0 0 10px;
	padding:0 10px;
}
a#ftrlogo {
	float:left;
}
#banner {
	border: 10px solid #e9e6d6;
	width:780px;
	margin:0 0 30px 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
}
h1#title {
	margin: 35px 0 20px 0px;
	float:left;
	text-transform: uppercase;
	letter-spacing: -1px;
	color: #F1B521;
}
h1#academicsTitle {
	background:url(../images/academics_banner.gif) no-repeat top left;
	height:86px;
	width:800px;
	text-indent: -9999px;
	font-size: 1px;
	line-height: 1px;
	overflow: hidden;
	display:block;
}
.department a#logo, .college a#logo, .formpage a#logo {
	background:url(../images/small_logo.gif) no-repeat top left;
	height:45px;
	width:144px;
	text-indent: -9999px;
	font-size: 1px;
	line-height: 1px;
	margin: 35px 10px 0 0;
	padding: 0 10px 0 0;
	overflow: hidden;
	/*position: relative;*/
	float:left;
	border-right:1px solid #e5e7de;
}
#topNav .ucscHome {
	width:290px;
}
.department h1#title, .college h1#title {
	margin:48px 0 20px;
}
.formpage h1#title {
	margin:48px 0 10px;
}
/** landing **/
#titles {
	margin:20px 0 0 0;
	float:left;
	width:800px;
}
.landing h1#title {
	text-transform: lowercase;
	letter-spacing: -1px;
	color: #F1B521;
	float:left;
	margin:20px 20px 0 0;
}
.landing span#description {
	color: #DAD5B7;
}
#fthslht {
	width: 800px;
	background: #f9f8f2;
	border-bottom:solid 1px #dfded2;
	clear:both;
	margin:30px 0 30px 0;
	display:block;
	float:left;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
}
.landing #fthslht div {
	border-left:#f0efea solid 1px;
	border-right:#fff solid 1px;
	float:left;
	width:138px;
	padding:10px 10px 30px 10px;
	font-size:13px;
	line-height:16px;
}
.landing #fthslht div.lft {
	border-left:0 none;
}
.landing #fthslht div.rht {
	border-right:0 none;
}
#fthslht div h2 {
	font-size:15px;
	line-height:17px;
	margin-bottom:10px;
	padding-right:20px;
	letter-spacing:-.5px;
}
.landing #fthslht div img {
	background:#ECE9D8;
	padding:5px;
	margin:0 0 10px 0;
}
.landing #fthslht div p {
	padding-right:20px;
	font-size:11px;
}
#acNews dd, #seeAlso dd {
	width:234px;
	float:left;
	border-left:#f0efea solid 1px;
	border-right:#fff solid 1px;
	padding:15px;
	font-size:13px;
	line-height:16px;
}
#acNews dd span.date {
	margin-bottom:5px;
}
#acNews dd img.fltlft {
	background:#ECE9D8;
}
.landing .thirds {
	clear:both;
	margin:0px 0 30px 0;
	float:left;
}
.landing .thirds #acNews {
	width: 800px;
	background: #f9f8f2;
	border-bottom:solid 1px #dfded2;
	display:block;
	float:left;
	margin:0 0 0px 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
}
.landing .thirds h3 {
	color: #8E8C87;
	font-weight:normal;
	letter-spacing:.5px;
	margin:0 0 5px 0;
	text-transform:uppercase;
}
.landing .thirds h3 span {
	font-style:normal;
	color: #585755;
	text-transform:uppercase;
}
.landing .thirds #seeAlso {
	width: 800px;
	background: #ECE9D8;
	border-bottom:solid 1px #dfded2;
	float:left;
	margin-bottom:0px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
}
#seeAlso ul {
	width:244px;
	float:left;
	border-left:#fff solid 1px;
	border-right:#dedbcb solid 1px;
	padding:10px;
	font-size:11px;
	line-height:19px;
}
#seeAlso ul li {
	padding:0 0 0 15px
}
.lft, #seeAlso ul.lft {
	border-left:0 none;
}
.rht, #seeAlso ul.rht {
	border-right:0 none;
}
/*content with nav */

#breadcrumbs {
	clear:both;
	display:block;
	width:800px;
	margin:-15px 0 30px 0;
	font-size:9px;
	line-height:16px;
}
#breadcrumbs a {
	padding:0 3px;
}


#subNav {
	float:left;
	width:200px;
	margin:0 20px 0 0;
}


/* @group LEFT NAV */

#subNav ul {
	margin:0;
	padding:0;
	border-top: #e5e4de 1px solid;
	font-size:11px;
	line-height:30px;
}

#subNav ul li {
	margin:0;
	padding:0;
	border-bottom: #e5e4de 1px solid;
	background-image:none;
}

#subNav ul li ul {
	margin-bottom:-1px;
}

#subNav ul li li {
	padding-left:20px;
}

#subNav ul .current {
	display:block;
	background:url(../images/nav_arrow.gif) no-repeat right center ;
}

/* @end */



/* @group MAIN CONTENT */

#mainContent h1#title {
	font-size:30px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif;
	line-height:1;
	color:#4d4d4b;
	margin-top:-5px;
	float:none;
	text-transform:none;
}
#mainContent #banner {
	width:550px;
	padding:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
	background:#fff;
	border:0 none;
	margin:0 0 5px;
}
#mainContent p.caption {
	color:#5585a2;
	font-size:11px;
	line-height:16px;
}
#mainContent div {
	background:#ece9d8;
	border-bottom:solid 1px #dad8c8;
	padding:30px;
	margin:0 0 30px 0;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

#mainContent div#bnr {
	padding:10px;
}
#mainContent h2 {
	font-size:20px;
	line-height:24px;
	margin-bottom:30px;
	color:#605f5d;
	letter-spacing:-.5px;
}
#mainContent h3 {
	font-size:15px;
	line-height:24px;
	color:#605f5d;
	letter-spacing:-.5px;
	margin-bottom:5px;
}
#mainContent h4 {
	font-size:11px;
	line-height:19px;
	color:#605f5d;
	text-transform:uppercase;
}
#mainContent ul {
	font-size:12px;
	line-height:19px;
	margin-bottom:10px;
}
#mainContent ul li {
	background:transparent url(../images/bullet.gif) no-repeat left 7px;
}
#mainContent p {
	font-size:12px;
	line-height:19px;
	margin-bottom:10px;
}
#mainContent span.fltlft {
	float:left;
	display:inline;
	margin:0 15px 10px 0;
	color:#5585a2;
	font-size:11px;
	line-height:16px;
}
#mainContent span.fltlft img {
	display:block;
	background:#fff;
	padding:5px;
	margin-bottom:5px;
}
#mainContent table {
	background:#ece9d8;
	border-bottom:solid 1px #dad8c8;
	padding:0px;
	margin:0 0 30px 0;
	text-align:center;
	font-size:12px;
	line-height:25px;
	width:580px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius:7px;
}
#mainContent table th, #mainContent table td {
	border-bottom:1px solid #DEDCD1;
}
#mainContent table th, #mainContent table td.rowHead {
	color:#5585a2;
	font-weight:bold;
}
#mainContent div.seeAlso {
	background:#fff;
	border-bottom:solid 1px #dad8c8;
	padding:0px;
	margin:0 0 30px 0;
	float:left;
	width:580px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius:7px;
}
#mainContent div.seeAlso ul {
	float:left;
	width:250px;
	padding:20px;
}
.contentNONav #mainContent {
	margin-right:20px;
}

/* @end */





#rtSdebr div {
	background:#ece9d8;
	border-bottom:solid 1px #dad8c8;
	padding:10px;
	margin:0 0 30px 0;
	font-size:11px;
	line-height:16px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius:7px;
}
#rtSdebr img {
	background:#fff;
	padding:5px;
	margin-bottom:10px;
}
#rtSdebr h4, #rtSdebr p {
	margin-bottom:10px;
	padding:0 5px;
}
#rtSdebr h3 {
	font-size:15px;
	line-height:24px;
	margin-bottom:10px;
	padding:0 5px;
}




/* colleges */

.college .thirds.dark div.inner {
	background:#F9F8F2;
}
.college #uncommon {
	margin-right:0;
}
.collegesFtr h4 {
	color: #A7BECA;
	font-weight:normal;
	letter-spacing:.5px;
	margin:0 15px 15px 15px;
	text-transform:uppercase;
}
.collegesFtr h4 em {
	color: #5585A2;
	font-weight:normal;
	letter-spacing:.5px;
	text-transform:uppercase;
	font-style:normal;
}
.collegesFtr ul {
	margin-left:25px;
	font-size:11px;}
/*formpage*/
.formpage dl#mainNav {
	margin:20px 0 10px;
}
.formpage dl#mainNav dd {
	width:33%;
}
.formpage #largeSearch {
	width:400px;
	height:60px;
	clear:both;
	background: url(../images/button_background.jpg) repeat-x;
	display:block;
	border-bottom:solid 1px #d5d3c8;
	padding:20px 200px;
	margin-bottom:30px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
}
.formpage #largeSearch h4 {
	margin-bottom:10px;
	font-size:15px;
	line-height:1;
	font-weight:normal;
}
.formpage #largeSearch form {
	background:transparent url(../images/search_background_large.gif) no-repeat;
	padding:4px 10px 4px 5px;
	height:34px;
	width:400px;
}
.formpage #largeSearch form input#lrgSrch {
	width:360px;
	border:0 none;
	height:34px;
	float:left;
	background:transparent;
	padding:2px 0 0 2px;
	font-size:15px;
}
.formpage #largeSearch form input#lsrchBtn {
	float:left;
	margin-left:10px;
}
#tableSorter table {
	width:800px;
	font-size:12px;
	line-height:30px;
}
#tableSorter table th, #tableSorter table td {
	border-top:1px solid #d3d1c7;
	padding-left:10px;
	text-align:left;
}
#tableSorter table th {
	background:#ece9d8;
	font-size:9px;
	color:#929290;
}
.formpage #srchResults {
	margin-bottom:30px;
}
.formpage #srchResults h4 {
	margin-bottom:10px;
	font-size:15px;
	line-height:1;
	font-weight:normal;
	margin-bottom:10px;
}
#tableSorter table tr.expanded td {
	background:#f9f8f2;
}
#tableSorter table tr:hover td, #tableSorter table tr.hov td {
	background:#f9f8f2;
}
#tableSorter table td span.details {
	clear:both;
	display:block;
	margin:10px 0;
	color:#7da1b8;
	line-height:1.2;
}
#tableSorter table td span.details a {
	color:#7da1b8;
}
div.alphasorter dl {
	clear:both;
	background: url(../images/button_background.jpg) repeat-x;
	width:800px;
	height:28px;
	display:block;
	margin: 0;
	border-bottom:solid 1px #d5d3c8;
	padding:1px;
}
div.alphasorter dl dd {
	float:left;
	border-left:1px solid #ffffff;
	border-right:1px solid #e7e5de;
	padding:0px 0px;
	margin:0 0 1px 0;
	font-size:12px;
	line-height:16px;
	width:29px;
	text-align:center
}
div.alphasorter dl dd.first {
	border-left:none 0;
	width:27px;
}
div.alphasorter dl dd.last {
	border-right:none 0;
	width:27px;
}
div.alphasorter dl dd a {
	text-decoration:none;
	color:#929290;
	font-family:"Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif;
	background:url(../images/main_nav_off.gif) repeat-x;
	display:block;
	height:12px;
	width:100%;
	padding:5px 0 7px 0;
	font-weight:bold;
	text-transform:uppercase;
	-moz-text-shadow:0px 1px 0px #ffffff;
	-webkit-text-shadow:0px 1px 0px #ffffff;
	text-shadow:0px 1px 0px #ffffff;
}
div.alphasorter dl dd a:hover {
	text-decoration:none;
	background:url(../images/main_nav_on.gif) repeat-x;
}



/* @group IMAGE REPLACEMENT */

#quickstart.ir,
h2.ir span,
h3.ir,
h4.ir {
	text-indent: -900em;
	overflow: hidden;
}

/* @end */





/*#wrap { border:4px solid green; }
#container { border:4px solid purple; }
#content { border:4px solid blue; }
#sprflt { border:4px solid red; }*/

/* @group Typography that was forgotten */

#content #mainContent h1,
#content #mainContent h2,
#content #mainContent h3,
#content #mainContent h4,
#content #mainContent h5,
#content #mainContent h6 { 
	line-height:1.3em;
	margin-bottom:0.6em;
}

#content #mainContent p,
#content #mainContent ul,
#content #mainContent ol,
#content #mainContent dl { 
	margin:1em 0;
}

#content #mainContent li,
#content #mainContent dt,
#content #mainContent dd { 
	margin:0.4em 0;
	
}

#content #mainContent form li { 
	background:none;
	margin:0.2em 0;
	padding:0;
	list-style-type:none;	
}

#content #mainContent blockquote p { 
	font-size:18px;
}

#content #mainContent dl { 
	float:left;
	width:100%;
}

#content #mainContent dl:after { 
	content:".";
	clear:both;
	visibility:hidden;
}

#content #mainContent dt { 
	font-weight:bold;
	width:36%;

	float:left;
}

#content #mainContent dd { 
	width:62%;
	float:right;
	clear:right;
}

#content #mainContent .mainImage { 
	float:right;
	margin:0 0 1.2em 1.2em;
	width:300px;
}

#content #mainContent .mainImage img { 
	display:block;
	margin:8px;
}


/* @end */







